#Employee {
    display: flex-wrap;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    font-size:20px;
  }
  
  #Employee td, #Employee th {
    display: flex-wrap;
    border: 1px solid #ddd;
    padding: 8px;
    font-size:20px;
  }

   .employeebtn {
    margin: 15px;
    margin-bottom: auto;
    padding-top: 10px;
    align-items: center;
  }

  .employeeSingOut {
    margin: auto;
    padding-top: 10px;

  }
  
  #Employee tr:nth-child(even){background-color: #f2f2f2;}
  
  #Employee tr:hover {background-color: #ddd;}
  
  #Employee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:white;
    color: black;
    font-size:20px;
  }